In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Q1. Pandas version

In [2]:
pd.__version__

'2.2.2'

Getting the data and reading the data

In [4]:
laptops_df = pd.read_csv('laptops.csv', encoding='latin-1')

In [5]:
laptops_df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [7]:
laptops_df.columns

Index(['Laptop', 'Status', 'Brand', 'Model', 'CPU', 'RAM', 'Storage',
       'Storage type', 'GPU', 'Screen', 'Touch', 'Final Price'],
      dtype='object')

Q2. Records count

In [12]:
print('The number of Records in the dataset is: ', laptops_df.shape[0])

The number of Records in the dataset is:  2160

Question 3. Laptop brands

In [11]:
print('The Number of Unique Laptop Brands in the Dataset are : ', laptops_df['Brand'].nunique())

The Number of Unique Laptop Brands in the Dataset are :  27

Question 4. Missing values

In [17]:
laptops_df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [15]:
print('The number of missing values in the dataset is: ', laptops_df.isnull().any().sum())

The number of missing values in the dataset is:  3

Q5. Maximum final price

What's the maximum final price of Dell notebooks in the dataset?

In [24]:
print('The maximum final price of a Dell notebook is :', laptops_df[laptops_df['Brand'] == 'Dell']['Final Price'].max())

The maximum final price of a Dell notebook is : 3936.0

Q6. Median value of Screen

In [25]:
print('The median value of the Screen column is: ', laptops_df['Screen'].median())

The median value of the Screen column is:  15.6

Next, calculate the most frequent value of the same Screen column.\
Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.\
Now, calculate the median value of Screen once again.

In [29]:
frequent_value = laptops_df['Screen'].mode()[0]

In [31]:
laptops_df['Screen'] = laptops_df['Screen'].fillna(frequent_value)

In [32]:
print('The new median value of the Screen column is: ', laptops_df['Screen'].median())

The new median value of the Screen column is:  15.6

Q7. Sum of weights

In [33]:
innjoo_laptops = laptops_df[laptops_df['Brand'] == 'Innjoo']

In [34]:
innjoo_laptops = innjoo_laptops[['RAM','Storage','Screen']]

In [37]:
X = innjoo_laptops.to_numpy()

In [39]:
XTX = np.dot(X.T,X)

In [43]:
XTX_inv = np.linalg.inv(XTX)

In [44]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [45]:
w = np.dot(np.dot(XTX_inv,X.T),y)

In [46]:
print('The sum of all the elements of the result is: ', np.sum(w))

The sum of all the elements of the result is:  91.2998806299555